/*Options Style*/
main {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;

    margin-top: 13.5rem;

    animation-name: load;
    animation-duration: 0.8s;
    animation-delay: 0.1s;
}
.paperContainerStyle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 9rem;
    height: 9rem;

    border-style: outset;
    border-width: 1.5rem;
    border-color: var(--Paper-Gradient);
    border-radius: 50%;

    background: white;

    transition-duration: 0.3s;
    cursor: pointer;

}

.scissorsContainerStyle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 9rem;
    height: 9rem;

    border-style: outset;
    border-width: 1.5rem;
    border-color: var(--Scissors-Gradient);
    border-radius: 50%;

    background: white;

    transition-duration: 0.3s;
    cursor: pointer;
}
.break {
    width: 100%;
}
.rockContainerStyle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 9rem;
    height: 9rem;

    border-style: outset;
    border-width: 1.5rem;
    border-color: var(--Rock-Gradient);
    border-radius: 50%;

    background: white;

    
    transition-duration: 0.3s;
    cursor: pointer;
}

.paperContainerStyle:hover {
    animation-name: zoom;
    animation-duration: 0.5s;

    zoom: 1.1;
    opacity: 0.8;
    
 
    box-shadow: 5px 2px 2px hsla(0, 0%, 53%, 0.027);
}
.rockContainerStyle:hover {
    animation-name: zoom;
    animation-duration: 0.5s;

    zoom: 1.1;
    opacity: 0.8;


    box-shadow: 5px 2px 2px hsla(0, 0%, 53%, 0.027);
}
.scissorsContainerStyle:hover {
    animation-name: zoom;
    animation-duration: 0.5s;
    
    zoom: 1.1;
    opacity: 0.8;

    box-shadow: 5px 2px 2px hsla(0, 0%, 53%, 0.027);
}

@keyframes zoom {
    from {
        transform: rotateZ(0);
    
        
    }
    to {
        transform: rotateZ(360deg);
 
    }
}