/*Options Style*/
main {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;

    margin-top: 12rem;
}
.paperContainerStyle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 9.5rem;
    height: 9.5rem;

    border-style: outset;
    border-width: 1.5rem;
    border-color: var(--Paper-Gradient);
    border-radius: 50%;

    background: white;

    cursor: pointer;

}
.scissorsContainerStyle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 9.5rem;
    height: 9.5rem;

    border-style: outset;
    border-width: 1.5rem;
    border-color: var(--Scissors-Gradient);
    border-radius: 50%;

    background: white;

    cursor: pointer;
}
.break {
    width: 100%;
}
.rockContainerStyle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 9.5rem;
    height: 9.5rem;

    border-style: outset;
    border-width: 1.5rem;
    border-color: var(--Rock-Gradient);
    border-radius: 50%;

    background: white;

    

    cursor: pointer;
}